.title {
    padding: 30px;
    text-align: center;
    font-size: 50px;
}

.title span {
    color: limegreen;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    max-width: 600px;
}

.main-info {
    max-width: 500px;
}

.main-info ul {
    padding-left: 17px;
}

.main-info a {
    font-size: 20px;
    color: #006dd4;
}

.form {
    max-width: 420px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    font-size: 35px;
}

.form input {
    padding: 10px;
    font-size: 23px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #d7d7d7;
}

.form button {
    background-color: green;
    color: white;
    padding: 16px;
    border-radius: 5px;
    border: 0;
}
